<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pysheetgrader - Report</title>
</head>
<body>

<div class="container">
    <h4>Grade report for A1</h4>
    <table class="table caption-top">
        <caption>Result for sheet: <b>Sheet 1</b></caption>

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Cell</th>
            <th scope="col">Description</th>
            <th scope="col">Score</th>
            <th scope="col">Max</th>
            <th scope="col">Rubric Type</th>
            <th scope="col">Feedback</th>
            <th scope="col">Error</th>
        </tr>
        </thead>
        <tbody>
        <!--        first row-->
        <tr class="table-success">
            <th scope="row">1</th>
            <td>C31</td>
            <td>Stdev of Sample X</td>
            <td>1</td>
            <td>1</td>
            <td>Value Check</td>
            <td></td>
            <td></td>
        </tr>
        <!--        second row-->
        <tr class="table-success">
            <th scope="row">2</th>
            <td>C32</td>
            <td>Critical t-value</td>
            <td>1</td>
            <td>1</td>
            <td>Formula Check</td>
            <td></td>
            <td></td>
        </tr>

        <!--        third row-->
        <tr class="table-danger">
            <th scope="row" rowspan="3">3</th>
            <td rowspan="3">H13</td>
            <td rowspan="3">StdErr of regression</td>
            <td rowspan="3">0</td>
            <td rowspan="3">1</td>
            <td> Test runs</td>
            <td>One of the cell tests fail: all must pass</td>
            <td></td>
        </tr>
        <tr class="table-danger">
            <td>t1: FAIL</td>
            <td>This cell requires you to use previously calculated values</td>
            <td class="table-warning">Exception found: Failed to process =STEYX(D5:D56,B5:B56)</td>
        </tr>
        <tr class="table-success">
            <td>t2: PASS</td>
            <td></td>
            <td></td>
        </tr>

        <!--        last row-->
        <tr class="table-secondary">
            <td colspan="3">Grade of the sheet: <b>Sheet 1</b></td>
            <td>2</td>
            <td>3</td>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>
