<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pysheetgrader - Report</title>
</head>
<body>

<div class="container">
    <h5>Grade report for <code>{{ html_args['name'] }}</code></h5>
    <h6>Time: {{ now }}</h6>

    {% if html_args['sheets'] | length == 0 %}
        <h5 class="text-muted">There is no sheet to be graded.</h5>
    {% endif %}
    {% for sheet in html_args['sheets'] %}
        <table class="table caption-top">
            <caption>Result for sheet: <b> {{ sheet['name'] }} </b></caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cell</th>
                <th scope="col">Description</th>
                <th scope="col">Score</th>
                <th scope="col">Max</th>
                <th scope="col">Rubric Type</th>
                <th scope="col">Feedback</th>
                <th scope="col">Error</th>
            </tr>
            </thead>

            <tbody>

            {% if not sheet['minimum_work_reached'] %}
                <tr class="table-danger">
                    <td colspan="8"
                        style="text-align: center; vertical-align: middle;">
                        Minimum work ({{ sheet['minimum_work'] }}) not reached: {{ sheet['minimum_work_feedback'] }}
                    </td>
                </tr>

            {% else %}
                {% for rubric in sheet['rubrics'] %}
                    {% if not rubric['hidden'] %}
                        {% if 'test_cases' in rubric %}
                            {% set test_case_num = rubric['test_cases'] | length %}

                            <tr class="{{ 'table-danger' if rubric['submission_score'] < rubric['max_possible_score'] else 'table-success' }}">
                                <th scope="row" rowspan="{{ test_case_num + 1 }}">{{ rubric['id'] }}</th>
                                <td rowspan="{{ test_case_num + 1 }}">{{ rubric['cell'] }}</td>
                                <td rowspan="{{ test_case_num + 1 }}">{{ rubric['description'] }}</td>
                                <td rowspan="{{ test_case_num + 1 }}">{{ rubric['submission_score'] }}</td>
                                <td rowspan="{{ test_case_num + 1 }}">{{ rubric['max_possible_score'] }}</td>
                                <td> Test runs</td>
                                <td>
                                    {{ rubric['feedback'] }}
                                </td>
                                <td>
                                    {% if rubric['all_test_pass'] %}
                                        All test cases pass!
                                    {% else %}
                                        At least one of the cell tests fail: all must pass
                                    {% endif %}
                                </td>
                            </tr>
                            {% for test_case in rubric['test_cases'] %}
                                <tr class="{{ 'table-danger' if not test_case['success'] else 'table-success' }}">
                                    <td>{{ test_case['name'] }}</td>
                                    <td>{{ test_case['feedback'] }}</td>
                                    <td>{{ test_case['error'] }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="{{ 'table-danger' if rubric['submission_score'] < rubric['max_possible_score'] else 'table-success' }}">
                                <th scope="col">{{ rubric['id'] }}</th>
                                <td>{{ rubric['cell'] }}</td>
                                <td>{{ rubric['description'] }}</td>
                                <td>{{ rubric['submission_score'] }}</td>
                                <td>{{ rubric['max_possible_score'] }}</td>
                                <td>{{ rubric['rubric_type'] }}</td>
                                <td>{{ rubric['feedback'] }}</td>
                                <td>{{ rubric['error'] }}</td>
                            </tr>
                        {% endif %}
                    {% elif 'hidden_hint' in rubric %}
                        <tr class='table-danger'>
                            <th scope="col">{{ rubric['id'] }}</th>
                            <td colspan="7"
                                style="text-align: center; vertical-align: middle;">{{ rubric['hidden_hint']['hint'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}


            <tr class="table-secondary">
                <td colspan="3">Grade for sheet: <b>{{ sheet['name'] }}</b></td>
                <td>{{ sheet['submission_score'] }}</td>
                <td>{{ sheet['max_possible_score'] }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}


    <table class="table caption-top table-secondary">
        <caption>Summary:</caption>
        <thead>
        <tr>
            <td>Summary Report for:</td>
            <td><b>{{ html_args['name'] }}</b></td>
            <td>Score</td>
            <td>Max</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Total Grade for:</td>
            <td>All Sheets</td>
            <td><b>{{ html_args['submission_score'] }}</b></td>
            <td><b>{{ html_args['max_possible_score'] }}</b></td>
        </tr>


        {% for sheet in html_args['sheets'] %}
            <tr>
                {% if loop.index0 == 0 %}
                    <td rowspan="{{ html_args['sheets'] | length }}">Breakdown for:</td>
                {% endif %}
                <td><b>{{ sheet['name'] }}</b></td>
                <td>{{ sheet['submission_score'] }}</td>
                <td>{{ sheet['max_possible_score'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

</body>
</html>
